<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Page d'administration</title>
		<link rel="stylesheet" href="/assets/css/administration_page.css">
	</head>
	<body>
		<div class="admin-container">
			<h1>Tableau de bord de l'administrateur</h1>

			<div class="buttons">
				<a href="/admin/creer-compte" class="btn">Créer un compte</a>
				<a href="/admin/modifier-services" class="btn">Modifier les services</a>
				<a href="/admin/modifier-horaires" class="btn">Modifier les horaires</a>
				<a href="/admin/modifier-habitat" class="btn">Modifier l'habitat</a>
			</div>
		</div>
	</body>
</html>
